.AchievementsList{
border-bottom: 3px solid #2a4fa6;
border-left: 3px solid #2a4fa6;
border-right: 3px solid #2a4fa6;
border-top: 3px solid #2a4fa6;

/* background-image: url("../../../../../public/images/"); */
background-image: url("../../../../../public/images/Meteor.svg");
background-repeat: no-repeat;
background-size: cover;
animation: rotate 6s infinite alternate linear;
transition: transform .2s;
color:white;
}
.AchievementsList:hover{
    transform: scale(1.2);
}
.AchievementsList li {
    display: inline-block;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.Achievements-container{
}