* {
    box-sizing: border-box;
  }
  
  html,
  body,
  .wrapper {
    height: 100%;
  }
  
  /* @keyframes rotate { */
    /* 100% {
      background-position: 15% 50%;
    }
  }
  
  body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("../../../public/images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Euclid Circular A";
    color: #000;
    animation: rotate 6s infinite alternate linear;
  }
   */
  @media (width >= 500px) {
    body {
      padding: 0;
    }
  }
  
  .FriendProfile{
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: #004e92;
    text-align: center;
  }
  
  @media (width >= 550px) {
    .FriendProfile{
      margin: 0;
      width: 400px;
    }
  }
  @media (width < 550px) {
    .FriendProfile{
      margin: 0;
      width: 200px;
    }
  }

  .FriendProfile> h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
    color:white;
  }
  
  .FriendProfile> h3 {
    color: grey;
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
  }
  
  .login-form > input,
  .login-form > button {
    width: 100%;
    height: 56px;
  }
  
  .login-form > input {
    border: 2px solid #ebebeb;
    font-family: inherit;
    font-size: 16px;
    padding: 0 16px;
  }
  
  .login-form > button {
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border-radius: 0.5rem;
    background: #216ce7;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
  }
  
  .login-form > a {
    color: #216ce7;
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
    margin-bottom: 6px;
  }

  .FriendProfileButtons{
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border-radius: 0.5rem;
    background: #216ce7;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
  }