.ChatRoom-table td {
    color:  red;
}
.ChatRoom-table td  span {
    color: blue;
}
.ChatRoom-table td p {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 5em; 
    height: 1.2em; 
    white-space: nowrap;
}


.ChatRoom-table td > .ButtonSocial-Unfriend span{
color: white;
}

.ButtonSocial-block span {
    color:red;
}
.ChatRoom-table td > .ButtonSocial-block span{
    color:  red;
}